/* Navigation und header*/
header{
    text-align: center;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    background-color: white;
}
nav{
    top: 0;
}
nav ul{
    padding: 0px;
}
nav li{
    display: inline;
}
header img{
    width: 700px;
}
.dropbtn {
    background-color: rgb(165, 165, 165);
    color: white;
    padding: 16px 33px;
    font-size: 16px;
    border: none;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    position: relative;
} 
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}
  
.dropdown:hover .dropbtn {background-color:  rgb(209, 209, 209)}


/* Content */
main{
    margin: 300px 150px 20px 150px;
}
footer{
    background-color: rgb(209, 209, 209);
    padding: 50px 0;
    text-align: center;
    clear: left;
}
h1 {
    font-size: 45px
}
body{
    font-family: 'Lato', sans-serif;
}

/* Bilder */
.kamera{
    display: block;
    margin: 0 auto;
    width: 200px; 
}
.films{
    display: block;
    margin: 0 auto;
    width:100%;
}
video{
    display:block;
    margin: 0 auto;
}
.links{
    float:left;
    width: 250px;
    margin-right: 25px;
}
.rechts{
    float: right;
    height: 302px;
}
.marketing{
    margin-left: 275px;
    margin-top: 40px
}
.ci{
    height: 351px;
    float: right;
}
.fremdbild{
    display: block;
    margin:0 auto;
}
