/* Navigation und header*/
header{
    text-align: center;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    background-color: white;
}
nav{
    top: 0;
}
nav ul{
    padding: 0px;
}
nav li{
    display: inline;
}
.logo_403{
    width: 700px;
}
.dropbtn {
    background-color: rgb(165, 165, 165);
    color: white;
    padding: 16px 33px;
    font-size: 16px;
    border: none;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    position: relative;
    width: 200px;
    margin-bottom: 3px;
} 
.dropdown {
    position: relative;
    display: inline-block;
    margin-top: auto;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}
  
.dropdown:hover .dropbtn {background-color:  rgb(209, 209, 209)}
  

/* Content */
body{
    font-family: 'Lato', sans-serif;
    margin: 0;
}
main{
    margin: 300px 150px 20px 150px;
    padding-top: 20px;
}
footer{
    background-color: rgb(209, 209, 209);
    padding: 50px 0;
    text-align: center;
    clear: left;
}
h1 {
    font-size: 45px
}

/* Bilder */
.kamera{
    display: block;
    margin: 0 auto;
    width: 200px; 
}
.films{
    float: left;
    width: 50%    
}
.films2{
    float: right; 
    width: 50%;
}
video{
    display:block;
    margin: 0 auto;
}
.links{
    float:left;
    width: 250px;
    margin-right: 25px;
    margin-bottom: 15px;
}
.rechts{
    float: right;
    height: 302px;
    margin-bottom: 15px;
}
.marketing{
    margin-left: 275px;
    margin-top: 40px
}
.ci{
    height: 351px;
    float: right;
}
.fremdbild{
    display: block;
    margin:0 auto;
}
.iso_vergleich{
    float: right;
}
.iso{
    width: 400px;
    z-index: 10;
}
.blende{
    width: 700px;
    display: block; 
    margin: 0 auto;
}
.smart{
    width: 400px;
    float: right;
}
.moodboard1, .moodboard2{
    width: 500px;
}
.spannungsbogen{
    width: 400px;
    float: right;
}

/* Tabelle des Glossars */

td{
    padding: 5px 20px;
    text-align: left;
}
th{
    text-align: left;
    padding: 5px 20px;
}
.grey{
    background-color:  rgb(209, 209, 209);
}
table{
    margin: 0 auto;
}

@media (max-width: 1230px){
    main{
        margin: 300px 80px 20px 80px;
    }
    header{
        margin: 0 80;
    }
}

@media (max-width: 740px ){
    .logo_403{
        width: 520px;
    }
}

@media(max-width: 700px){
    video{
        width: 423px;
    }
}

@media(max-width: 580px){
    .logo_403{
        width: 400px;
        margin-top: 10px;
    }
    h1{
        font-size: 35px;
        margin: 15px 0;
    }
    main{
        margin: 0px 30px 20px 30px;
    }
    .marketing{
        margin-left: 0;
        margin-top: 0;
    }
    /* Navigation */
    header{
        position: unset;
    }
    .dropdown{
        width: 100%;
    }
    .dropbtn{
        width: 100%;
    }
    nav li{
        display: block;
        width: 100%;
    }
    .dropdown-content{
        width: 100%;
    }
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    /* Bilder & Video */
    .films{
        width: 100%;
        height: 70px;
    }
    .films2{
        display: none;
    }
    video{
        width: 250px;
        margin: 0;
    }
    .links{
        margin: 0;
        width: 150px;
    }
    .rechts{
        height: 110px;
        clear: none;
    }
    .ci{
        height: 160px;
    }
    .fremdbild{
        width: 288px;
        margin: 0;
    }
    .smart{
        width: 310px;
        clear: none;
        margin-bottom: 5px;
        margin-left: 20px;
    }
    .moodboard1{
        width: 310px;
        margin-bottom: 5px;
    }
    .moodboard2{
        width: 310px;
    }
    .iso1{
        width: 310px;
    }
    .iso{
        width: 310px;
    }
    .blende{
        width: 310px;
    }
    .belichtungszeit{
        width: 310px;
    }

    /* Tabelle des Glossars*/

    td{
        padding: 8px 5px;
    }
}

@media (max-width: 560px){
    .logo_403{
        width: 390px;
    }
}

@media(max-width: 421px){
    main{
        padding-top: 250px;
    }
}

@media(max-width: 400px){
    .logo_403{
        width: 300px;
    }
}

@media(max-width: 325px){
    .logo_403{
        width: 250px;
    }
    h1{
        font-size: 25px;
    }
}
